*{margin:0;padding:0;box-sizing: border-box;}

.header{
	height: 45px;	
	width: 100%;
	line-height: 45px;
	color: #fff;
	background: #91d4da;
}
.title{
	width: 100%;
	margin:0 auto;	
}
.header a{
	position: relative;
	left:10px;
}